apiVersion: apps/v1
kind: Deployment
metadata:
  name: nf-a
  namespace: nf-a-namespace
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nf-a
  template:
    metadata:
      labels:
        app: nf-a
    spec:
      containers:
        - name: nf-service
          image: nf-service:sidecar
          imagePullPolicy: Never
          ports:
            - containerPort: 3000
              name: nf-http
          env:
            - name: NF_PORT
              value: "3000"
            - name: VERAMO_PORT
              value: "3001"
            - name: NF_NAME
              value: "NF-A"
            - name: MY_DID
              value: "did:web:kiuyenzo.github.io:Prototype:dids:did-nf-a"
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
        - name: veramo-sidecar
          image: veramo-sidecar:sidecar
          imagePullPolicy: Never
          ports:
            - containerPort: 3001
              name: veramo-http
          env:
            - name: USE_KUBERNETES
              value: "true"
            - name: VERAMO_PORT
              value: "3001"
            - name: NF_PORT
              value: "3000"
            - name: MY_DID
              value: "did:web:kiuyenzo.github.io:Prototype:dids:did-nf-a"
            - name: OWN_DID
              value: "did:web:kiuyenzo.github.io:Prototype:dids:did-nf-a"
            - name: DB_PATH
              value: "/app/data/db-nf-a/database-nf-a.sqlite"
            - name: DB_ENCRYPTION_KEY
              value: "ed9733675a04a20b91c5beb2196a6c964dce7d520a77be577a8a605911232ba6"
            - name: DIDCOMM_PACKING_MODE
              value: "encrypted"  
            - name: CLUSTER_A_IP
              value: "172.23.0.2"
            - name: CLUSTER_B_IP
              value: "172.23.0.3"
            - name: CLUSTER_A_PORT
              value: "30265"
            - name: CLUSTER_B_PORT
              value: "30574"
          readinessProbe:
            httpGet:
              path: /health
              port: 3001
            initialDelaySeconds: 5
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: veramo-nf-a
  namespace: nf-a-namespace
spec:
  selector:
    app: nf-a
  ports:
    - port: 3001
      targetPort: 3001
      name: veramo-http
    - port: 3000
      targetPort: 3000
      name: nf-http
