apiVersion: v1
kind: Namespace
metadata:
  name: nf-b-namespace
  labels:
    istio-injection: enabled
---
apiVersion: v1
kind: Namespace
metadata:
  name: nf-a-namespace
---
apiVersion: v1
kind: Service
metadata:
  name: veramo-nf-a
  namespace: nf-a-namespace
spec:
  clusterIP: None
  ports:
  - port: 3001
    name: http-veramo
    targetPort: 3001
---
apiVersion: v1
kind: Endpoints
metadata:
  name: veramo-nf-a
  namespace: nf-a-namespace
subsets:
- addresses:
  - ip: 172.23.0.3
  ports:
  - port: 32514
    name: http-veramo
---
apiVersion: networking.istio.io/v1
kind: ServiceEntry
metadata:
  name: veramo-nf-a-external
  namespace: nf-b-namespace
spec:
  hosts:
  - veramo-nf-a.nf-a-namespace.svc.cluster.local
  addresses:
  - 240.0.0.2
  ports:
  - number: 3001
    name: http-veramo
    protocol: HTTP
  location: MESH_EXTERNAL
  resolution: STATIC
  endpoints:
  - address: 172.23.0.3
    ports:
      http-veramo: 32514
---
apiVersion: networking.istio.io/v1
kind: DestinationRule
metadata:
  name: veramo-nf-a-mtls
  namespace: nf-b-namespace
spec:
  host: veramo-nf-a.nf-a-namespace.svc.cluster.local
  trafficPolicy:
    tls:
      mode: MUTUAL
      credentialName: cluster-a-client-certs
      sni: cluster-a.external
    connectionPool:
      http:
        h2UpgradePolicy: UPGRADE
